.PCFControls\.DemoControl button.SimpleIncrement_Button_Style {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 6px;
  cursor: pointer;
  color: white;
  border-radius: 0px;
  background-color: rgb(59, 121, 183);
  border: none;
  padding: 5px;
  text-align: center;
}

.PCFControls\.DemoControl button.SimpleIncrement_Input_Error_Style {
  color: red;
}

.PCFControls\.DemoControl input {
  display: block;
  width: 95%;
  margin: 10px 0 10px 10px;
  padding: 10px;
}
.PCFControls\.DemoControl .type-1 {
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}
.PCFControls\.DemoControl .type-1:hover {
  border: 1px solid #aaa;
}

.PCFControls\.DemoControl .type-2 {
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s box-shadow;
}
.PCFControls\.DemoControl .type-2:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.PCFControls\.DemoControl .container {
  padding: 16px;
  background-color: white;
  width: 100%;
}
